infra/n8n/clay-lead-intake.workflow.json
{
  "name": "Clay Lead Intake to SEO Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clay-leads-7f3d8e1c-52a9-4b67-91d0-6c4a2e8f5b13",
        "options": {}
      },
      "id": "clay-webhook",
      "name": "Clay Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "7f3d8e1c-52a9-4b67-91d0-6c4a2e8f5b13"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Clay payload to Task 4 allow-listed contract only.\nconst payload = $json.body ?? $json;\nconst clean = (value) => (value === undefined || value === null ? '' : String(value).trim());\n\nconst firstName = clean(payload.first_name || payload['First Name']);\nconst lastName = clean(payload.last_name || payload['Last Name']);\nconst contactName =\n  clean(payload.contact_name || payload.name || payload['Full Name']) ||\n  [firstName, lastName].filter(Boolean).join(' ');\n\nconst email = clean(\n  payload.email || payload.contact_email || payload.Email || payload['Work Email'],\n).toLowerCase();\n\nconst fitRaw = payload.fit_score ?? payload['Fit Score'];\nconst fitScore = typeof fitRaw === 'number' ? fitRaw : Number.parseInt(String(fitRaw ?? ''), 10);\n\nconst batchId =\n  clean(payload.batch_id) ||\n  (() => {\n    const fmt = new Intl.DateTimeFormat('en-CA', {\n      timeZone: 'America/New_York',\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit',\n    });\n    return `clay-${fmt.format(new Date())}`;\n  })();\n\nconst row = {\n  clay_row_id: clean(payload.clay_row_id || payload.row_id || payload.id),\n  batch_id: batchId,\n  company_name: clean(payload.company_name || payload.company || payload.Company || payload['Company Name']),\n  website: clean(payload.website || payload.domain || payload['Company Domain']),\n  contact_name: contactName,\n  title: clean(payload.title || payload.contact_title || payload['Job Title']),\n  email,\n  location: clean(payload.location || payload.city || payload['Company Location']),\n  fit_score: Number.isFinite(fitScore) ? fitScore : fitRaw,\n  fit_reason: clean(payload.fit_reason || payload['Fit Reason']),\n  recommended_service: clean(payload.recommended_service || payload['Recommended Service']),\n};\n\nif (!row.clay_row_id) throw new Error('Clay row rejected: clay_row_id is required');\nif (!row.company_name) throw new Error('Clay row rejected: company_name is required');\nif (!row.website) throw new Error('Clay row rejected: website is required');\nif (!row.email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(row.email)) {\n  throw new Error('Clay row rejected: a valid email is required');\n}\nif (!row.fit_reason) throw new Error('Clay row rejected: fit_reason is required');\nif (!row.recommended_service) throw new Error('Clay row rejected: recommended_service is required');\n\nreturn [{ json: row }];"
      },
      "id": "normalize-clay-lead",
      "name": "Validate and Normalize Clay Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SEO_AGENT_BASE_URL}}/api/marketing/leads/clay-batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MARKETING_AUTOMATION_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "post-clay-batch",
      "name": "POST Clay Batch Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "notes": "Env placeholders: SEO_AGENT_BASE_URL, MARKETING_AUTOMATION_SECRET. If this Railway n8n blocks $env in nodes (N8N_BLOCK_ENV_ACCESS_IN_NODE), swap to n8n credential store values instead — never inline secrets."
    }
  ],
  "connections": {
    "Clay Lead Webhook": {
      "main": [[{"node": "Validate and Normalize Clay Lead", "type": "main", "index": 0}]]
    },
    "Validate and Normalize Clay Lead": {
      "main": [[{"node": "POST Clay Batch Lead", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "notes": "Destination MUST be /api/marketing/leads/clay-batch. Secrets via $env only."
  }
}
