references/n8n/workflows/content-intelligence-pipeline-v1.json
{
  "name": "Content Intelligence Pipeline v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        280,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const queries = [\"AI automation creators\", \"YouTube automation tutorial creators\", \"Instagram AI workflow creators\"];\nconst referenceCreators = [\"Nate Zerk\"];\nreturn queries.map((query) => ({ json: { query, referenceCreators } }));"
      },
      "id": "build-queries",
      "name": "Build Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://api.tavily.com/search",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { query: $json.query, search_depth: 'advanced', include_answer: false, max_results: 10 } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "tavily-search",
      "name": "Tavily Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ygXYRPLTtMFB4Qfy",
          "name": "Tavily Bearer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toHex = (value) => (value >>> 0).toString(16).padStart(8, '0');\nconst makeDeterministicUuid = (input) => {\n  const text = String(input || 'unknown').toLowerCase().trim();\n  let h1 = 2166136261;\n  let h2 = 2166136261;\n  let h3 = 2166136261;\n  let h4 = 2166136261;\n\n  for (let i = 0; i < text.length; i++) {\n    const c = text.charCodeAt(i);\n    h1 = Math.imul(h1 ^ c, 16777619) >>> 0;\n    h2 = Math.imul(h2 ^ (c + 31), 16777619) >>> 0;\n    h3 = Math.imul(h3 ^ (c + 131), 16777619) >>> 0;\n    h4 = Math.imul(h4 ^ (c + 521), 16777619) >>> 0;\n  }\n\n  const hex = `${toHex(h1)}${toHex(h2)}${toHex(h3)}${toHex(h4)}`.slice(0, 32);\n  return `${hex.slice(0, 8)}-${hex.slice(8, 12)}-${hex.slice(12, 16)}-${hex.slice(16, 20)}-${hex.slice(20, 32)}`;\n};\n\nconst tavilyItems = $input.all();\nconst queryItems = $('Build Search Queries').all();\nconst out = [];\n\ntavilyItems.forEach((item, idx) => {\n  const sourceQuery = (queryItems[idx] && queryItems[idx].json.query) || 'unknown';\n  const results = item.json.results || [];\n  results.forEach((result) => {\n    const creatorName = result.title || result.name || result.url;\n    out.push({\n      json: {\n        creator_id: makeDeterministicUuid(creatorName),\n        creator_name: creatorName,\n        profile_url: result.url,\n        source_query: sourceQuery,\n        source_snippet: result.content || result.snippet || '',\n        relevance_score: result.score || 0,\n        platform: 'youtube'\n      }\n    });\n  });\n});\n\nreturn out;"
      },
      "id": "filter-creators",
      "name": "Filter Creators",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        480
      ]
    },
    {
      "id": "yt-parse-creator",
      "name": "YT Parse Creator URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        480
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item) => {\n  const url = String(item.json.profile_url || '');\n  let channelId = null;\n  let handle = null;\n  let isYouTube = false;\n\n  try {\n    const hostname = new URL(url).hostname.toLowerCase();\n    isYouTube = hostname === 'youtube.com' || hostname.endsWith('.youtube.com') || hostname === 'youtu.be';\n  } catch (e) {\n    isYouTube = false;\n  }\n\n  if (isYouTube) {\n    const idMatch = url.match(/\\/channel\\/(UC[\\w-]{10,})/i);\n    if (idMatch) channelId = idMatch[1];\n    if (!channelId) {\n      const handleMatch = url.match(/\\/@([\\w.\\-]+)/);\n      if (handleMatch) handle = handleMatch[1];\n    }\n    if (!channelId && !handle) {\n      const legacyMatch = url.match(/\\/(?:c|user)\\/([\\w.\\-]+)/i);\n      if (legacyMatch) handle = legacyMatch[1];\n    }\n  }\n\n  return { json: { ...item.json, channelId, handle, resolvable: Boolean(channelId || handle) } };\n});"
      }
    },
    {
      "id": "yt-resolvable-filter",
      "name": "YT Resolvable Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1780,
        480
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "resolvable-cond",
              "leftValue": "={{$json.resolvable}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "yt-get-channel",
      "name": "YT Get Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2080,
        480
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ $json.ytChannelQuery }}"
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "uZWEo4tXK9hee6mr",
          "name": "YouTube Data API Key"
        }
      }
    },
    {
      "id": "yt-extract-playlist",
      "name": "YT Extract Playlist Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        480
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sources = $('YT Resolvable Filter').all();\nreturn items.map((item, i) => {\n  const source = sources[i]?.json || {};\n  const channel = item.json?.items?.[0];\n  const uploadsPlaylistId = channel?.contentDetails?.relatedPlaylists?.uploads || null;\n  return { json: { ...source, resolved_channel_id: channel?.id || source.channelId || null, uploads_playlist_id: uploadsPlaylistId } };\n});"
      }
    },
    {
      "id": "yt-playlist-filter",
      "name": "YT Has Playlist Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2680,
        480
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "playlist-cond",
              "leftValue": "={{$json.uploads_playlist_id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "yt-get-playlist-items",
      "name": "YT Get Playlist Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2980,
        480
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ { part: 'contentDetails', playlistId: $json.uploads_playlist_id, maxResults: 10 } }}"
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "uZWEo4tXK9hee6mr",
          "name": "YouTube Data API Key"
        }
      }
    },
    {
      "id": "yt-extract-video-ids",
      "name": "YT Extract Video Ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        480
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sources = $('YT Has Playlist Filter').all();\nreturn items.map((item, i) => {\n  const source = sources[i]?.json || {};\n  const videoIds = (item.json?.items || []).map((p) => p.contentDetails?.videoId).filter(Boolean);\n  return { json: { ...source, video_ids: videoIds.join(',') } };\n});"
      }
    },
    {
      "id": "yt-videoids-filter",
      "name": "YT Has VideoIds Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3580,
        480
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "videoids-cond",
              "leftValue": "={{$json.video_ids}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "yt-get-videos",
      "name": "YT Get Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3880,
        480
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ { part: 'snippet,statistics,contentDetails', id: $json.video_ids } }}"
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "uZWEo4tXK9hee6mr",
          "name": "YouTube Data API Key"
        }
      }
    },
    {
      "id": "youtube-metadata-fetch",
      "name": "YouTube Metadata Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4180,
        480
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sources = $('YT Has VideoIds Filter').all();\nreturn items.map((item, i) => {\n  const source = sources[i]?.json || {};\n  return { json: { ...source, items: item.json?.items || [] } };\n});"
      }
    },
    {
      "parameters": {
        "jsCode": "const parseIsoDuration = (iso) => {\n  const match = /^PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?$/.exec(iso || '');\n  if (!match) return null;\n  const [, h, m, s] = match;\n  return (Number(h || 0) * 3600) + (Number(m || 0) * 60) + Number(s || 0);\n};\n\nconst toHex = (value) => (value >>> 0).toString(16).padStart(8, '0');\nconst makeDeterministicUuid = (input) => {\n  const text = String(input || 'unknown').toLowerCase().trim();\n  let h1 = 2166136261;\n  let h2 = 2166136261;\n  let h3 = 2166136261;\n  let h4 = 2166136261;\n\n  for (let i = 0; i < text.length; i++) {\n    const c = text.charCodeAt(i);\n    h1 = Math.imul(h1 ^ c, 16777619) >>> 0;\n    h2 = Math.imul(h2 ^ (c + 31), 16777619) >>> 0;\n    h3 = Math.imul(h3 ^ (c + 131), 16777619) >>> 0;\n    h4 = Math.imul(h4 ^ (c + 521), 16777619) >>> 0;\n  }\n\n  const hex = `${toHex(h1)}${toHex(h2)}${toHex(h3)}${toHex(h4)}`.slice(0, 32);\n  return `${hex.slice(0, 8)}-${hex.slice(8, 12)}-${hex.slice(12, 16)}-${hex.slice(16, 20)}-${hex.slice(20, 32)}`;\n};\n\nconst creators = $input.all();\nreturn creators.flatMap((item) => {\n  const videos = item.json.items || [];\n  return videos.map((video) => {\n    const viewCount = Number(video.statistics?.viewCount || 0);\n    const likeCount = Number(video.statistics?.likeCount || 0);\n    const commentCount = Number(video.statistics?.commentCount || 0);\n    const engagementRate = viewCount > 0 ? Number(((likeCount + commentCount) / viewCount).toFixed(4)) : 0;\n    const creatorName = item.json.creator_name || video.snippet?.channelTitle || String(video.snippet?.channelId || 'unknown_creator');\n\n    return {\n      json: {\n        creator_id: item.json.creator_id || makeDeterministicUuid(creatorName),\n        creator_name: creatorName,\n        profile_url: item.json.profile_url,\n        platform_video_id: video.id?.videoId || video.id,\n        title: video.snippet?.title || '',\n        description: video.snippet?.description || '',\n        published_at: video.snippet?.publishedAt || null,\n        duration_seconds: parseIsoDuration(video.contentDetails?.duration),\n        view_count: viewCount,\n        like_count: likeCount,\n        comment_count: commentCount,\n        engagement_rate: engagementRate,\n        thumbnail_url: video.snippet?.thumbnails?.high?.url || video.snippet?.thumbnails?.default?.url || null,\n        raw_payload: video,\n        hashtags: [],\n        format_tags: []\n      }\n    };\n  });\n});"
      },
      "id": "normalize-records",
      "name": "Normalize Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const records = $input.all();\nconst batchId = `batch-${new Date().toISOString().replace(/[:.]/g, '-')}`;\nreturn records.map((item) => ({\n  json: {\n    ...item.json,\n    batch_id: batchId,\n    analysis_version: 'stage3-v1',\n    analysis_status: 'pending',\n    analysis_payload: {\n      analysis_version: 'stage3-v1',\n      batch_id: batchId,\n      creator_name: item.json.creator_name,\n      platform: 'youtube',\n      platform_video_id: item.json.platform_video_id,\n      title: item.json.title,\n      description: item.json.description,\n      published_at: item.json.published_at,\n      duration_seconds: item.json.duration_seconds,\n      view_count: item.json.view_count,\n      like_count: item.json.like_count,\n      comment_count: item.json.comment_count,\n      hashtags: item.json.hashtags || [],\n      engagement_rate: item.json.engagement_rate,\n      format_tags: item.json.format_tags || []\n    },\n    topic_category: null,\n    primary_format: null,\n    engagement_tier: null,\n    analysis_confidence: null,\n    pattern_summary: {}\n  }\n}));"
      },
      "id": "stage-3-contract-builder",
      "name": "Stage 3 Contract Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4780,
        480
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "dataType": "string",
        "value1": "={{'claude'}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "claude",
              "output": 0
            },
            {
              "operation": "equal",
              "value2": "openai",
              "output": 1
            },
            {
              "operation": "equal",
              "value2": "deferred",
              "output": 2
            }
          ]
        }
      },
      "id": "stage-3-provider-switch",
      "name": "Stage 3 Provider Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        5080,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'claude-sonnet-4-6', max_tokens: 1200, system: 'Return valid JSON only. Follow references/content-intelligence-stage3-contract.md exactly.', messages: [ { role: 'user', content: [ { type: 'text', text: JSON.stringify($json.analysis_payload) } ] } ] } }}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "claude-stage-3-analysis",
      "name": "Claude Stage 3 Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5380,
        340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ND9GXL6ZDpxV4CD6",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/responses",
        "method": "POST",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4o-mini', input: [ { role: 'system', content: 'Return valid JSON only. Follow references/content-intelligence-stage3-contract.md exactly.' }, { role: 'user', content: JSON.stringify($json.analysis_payload) } ] } }}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "openai-stage-3-analysis",
      "name": "OpenAI Stage 3 Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5380,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4Ex9OdoqwlPhuzcx",
          "name": "OpenAI Bearer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst source = $('Stage 3 Contract Builder').first().json;\nconst text = response.content?.[0]?.text || response.output_text || response.output?.[0]?.content?.[0]?.text || '';\nlet parsed = {};\ntry {\n  parsed = typeof text === 'string' && text.trim() ? JSON.parse(text) : response;\n} catch (error) {\n  parsed = response;\n}\nreturn [{\n  json: {\n    ...source,\n    ...parsed,\n    batch_id: parsed.batch_id || source.batch_id,\n    platform_video_id: parsed.platform_video_id || source.platform_video_id,\n    analysis_status: 'analyzed',\n    analysis_payload: parsed\n  }\n}];"
      },
      "id": "stage-3-result-parser",
      "name": "Stage 3 Result Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nreturn [{\n  json: {\n    ...source,\n    analysis_status: 'deferred_session_limit',\n    analysis_payload: {\n      deferred_reason: 'model_access_unavailable',\n      deferred_at: new Date().toISOString(),\n      provider_requested: 'deferred'\n    },\n    topic_category: source.topic_category || null,\n    primary_format: source.primary_format || null,\n    engagement_tier: source.engagement_tier || null,\n    analysis_confidence: source.analysis_confidence || null,\n    pattern_summary: source.pattern_summary || {}\n  }\n}];"
      },
      "id": "stage-3-deferred",
      "name": "Stage 3 Deferred (No Model Access)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5380,
        680
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "content_intelligence_creators",
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{$json.creator_id}}",
        "valuesToSend": {
          "values": [
            {
              "column": "creator_name",
              "value": "={{$json.creator_name}}"
            },
            {
              "column": "platform",
              "value": "={{$json.platform}}"
            },
            {
              "column": "profile_url",
              "value": "={{$json.profile_url}}"
            },
            {
              "column": "source_query",
              "value": "={{$json.source_query}}"
            },
            {
              "column": "updated_at",
              "value": "={{$now.toISO()}}"
            }
          ]
        }
      },
      "id": "supabase-upsert-creators",
      "name": "Supabase Upsert Creators",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1480,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "ubXgrL18K5l7DRHz",
          "name": "Supabase Content Intelligence"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "content_intelligence_videos",
        "dataMode": "defineBelow",
        "columnToMatchOn": "platform_video_id",
        "valueToMatchOn": "={{$json.platform_video_id}}",
        "valuesToSend": {
          "values": [
            {
              "column": "batch_id",
              "value": "={{$json.batch_id}}"
            },
            {
              "column": "creator_id",
              "value": "={{$json.creator_id}}"
            },
            {
              "column": "title",
              "value": "={{$json.title}}"
            },
            {
              "column": "description",
              "value": "={{$json.description}}"
            },
            {
              "column": "published_at",
              "value": "={{$json.published_at}}"
            },
            {
              "column": "duration_seconds",
              "value": "={{$json.duration_seconds}}"
            },
            {
              "column": "view_count",
              "value": "={{$json.view_count}}"
            },
            {
              "column": "like_count",
              "value": "={{$json.like_count}}"
            },
            {
              "column": "comment_count",
              "value": "={{$json.comment_count}}"
            },
            {
              "column": "thumbnail_url",
              "value": "={{$json.thumbnail_url}}"
            },
            {
              "column": "hashtags",
              "value": "={{JSON.stringify($json.hashtags || [])}}"
            },
            {
              "column": "raw_payload",
              "value": "={{JSON.stringify($json.raw_payload || {})}}"
            },
            {
              "column": "engagement_rate",
              "value": "={{$json.engagement_rate}}"
            },
            {
              "column": "format_tags",
              "value": "={{JSON.stringify($json.format_tags || [])}}"
            },
            {
              "column": "analysis_version",
              "value": "={{$json.analysis_version}}"
            },
            {
              "column": "analysis_status",
              "value": "={{$json.analysis_status}}"
            },
            {
              "column": "analysis_payload",
              "value": "={{JSON.stringify($json.analysis_payload || {})}}"
            },
            {
              "column": "topic_category",
              "value": "={{$json.topic_category}}"
            },
            {
              "column": "primary_format",
              "value": "={{$json.primary_format}}"
            },
            {
              "column": "engagement_tier",
              "value": "={{$json.engagement_tier}}"
            },
            {
              "column": "analysis_confidence",
              "value": "={{$json.analysis_confidence}}"
            },
            {
              "column": "pattern_summary",
              "value": "={{JSON.stringify($json.pattern_summary || {})}}"
            },
            {
              "column": "updated_at",
              "value": "={{$now.toISO()}}"
            }
          ]
        }
      },
      "id": "supabase-upsert-videos",
      "name": "Supabase Upsert Videos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        5980,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "ubXgrL18K5l7DRHz",
          "name": "Supabase Content Intelligence"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nconst analysis = source.analysis_payload || {};\nconst summary = source.pattern_summary || {};\nconst confidence = typeof source.analysis_confidence === 'number' ? source.analysis_confidence : null;\nconst reasoningParts = [\n  analysis.reasoning || analysis.why_this_format || '',\n  summary.caption_structure || '',\n  summary.hashtag_cluster || ''\n].filter(Boolean);\n\nreturn [{\n  json: {\n    ...source,\n    playbook_status: 'pending',\n    playbook_page_id: null,\n    playbook_synced_at: null,\n    playbook_payload: {\n      batch_id: source.batch_id || null,\n      platform_video_id: source.platform_video_id || null,\n      creator_name: source.creator_name || analysis.creator_name || null,\n      topic_type: source.topic_category || analysis.topic_category || 'uncategorized',\n      recommended_format: source.primary_format || analysis.primary_format || 'unknown',\n      engagement_tier: source.engagement_tier || analysis.engagement_tier || 'unknown',\n      confidence,\n      reasoning: reasoningParts.join(' | ').slice(0, 1800),\n      example_reference: source.title || analysis.title || null,\n      source_url: source.profile_url || null,\n      published_at: source.published_at || null,\n      evidence: analysis.evidence || summary || {}\n    }\n  }\n}];"
      },
      "id": "stage-4-playbook-mapper",
      "name": "Stage 4 Playbook Mapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6280,
        480
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "dataType": "string",
        "value1": "={{$json.analysis_status}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "analyzed",
              "output": 0
            },
            {
              "operation": "notEqual",
              "value2": "analyzed",
              "output": 1
            }
          ]
        }
      },
      "id": "stage-4-eligibility-switch",
      "name": "Stage 4 Eligibility Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        6580,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://api.notion.com/v1/pages",
        "method": "POST",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { parent: { database_id: '398b59d3-b3b5-8010-bf18-efb9eb9c6767' }, properties: { 'Topic type': { select: { name: $json.playbook_payload.topic_type } }, 'Recommended format': { select: { name: $json.playbook_payload.recommended_format } }, 'Reasoning': { rich_text: [ { text: { content: $json.playbook_payload.reasoning || 'No reasoning provided' } } ] }, 'Example reference': { title: [ { text: { content: ($json.playbook_payload.example_reference || 'Untitled example').slice(0, 1800) } } ] }, 'Creator': { rich_text: [ { text: { content: $json.playbook_payload.creator_name || 'unknown' } } ] }, 'Source URL': { url: $json.playbook_payload.source_url || null } } } }}",
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "stage-4-notion-upsert",
      "name": "Stage 4 Notion Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6880,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Xv9FwmzQu0V9m65g",
          "name": "Notion Bearer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nreturn [{\n  json: {\n    ...source,\n    playbook_status: 'skipped_not_analyzed',\n    playbook_page_id: null,\n    playbook_synced_at: null,\n    playbook_payload: {\n      ...(source.playbook_payload || {}),\n      skip_reason: `analysis_status_${source.analysis_status || 'unknown'}`\n    }\n  }\n}];"
      },
      "id": "stage-4-skip",
      "name": "Stage 4 Skip Notion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6880,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Stage 4 Playbook Mapper').first().json || {};\nconst response = $input.first().json || {};\nreturn [{\n  json: {\n    ...source,\n    playbook_status: 'synced',\n    playbook_page_id: response.id || null,\n    playbook_synced_at: new Date().toISOString(),\n    playbook_payload: {\n      ...(source.playbook_payload || {}),\n      notion_response_id: response.id || null,\n      notion_url: response.url || null\n    }\n  }\n}];"
      },
      "id": "stage-4-parse-notion-result",
      "name": "Stage 4 Parse Notion Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7180,
        380
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "content_intelligence_videos",
        "dataMode": "defineBelow",
        "columnToMatchOn": "platform_video_id",
        "valueToMatchOn": "={{$json.platform_video_id}}",
        "valuesToSend": {
          "values": [
            {
              "column": "playbook_status",
              "value": "={{$json.playbook_status}}"
            },
            {
              "column": "playbook_page_id",
              "value": "={{$json.playbook_page_id}}"
            },
            {
              "column": "playbook_synced_at",
              "value": "={{$json.playbook_synced_at}}"
            },
            {
              "column": "playbook_payload",
              "value": "={{JSON.stringify($json.playbook_payload || {})}}"
            }
          ]
        }
      },
      "id": "stage-4-persist-status",
      "name": "Stage 4 Persist Playbook Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        7480,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "ubXgrL18K5l7DRHz",
          "name": "Supabase Content Intelligence"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nconst eligible = source.analysis_status === 'analyzed' && source.playbook_status === 'synced';\nconst score = eligible && typeof source.analysis_confidence === 'number'\n  ? Number(source.analysis_confidence.toFixed(4))\n  : null;\n\nreturn [{\n  json: {\n    ...source,\n    feedback_status: 'pending_first_party_data',\n    feedback_score: score,\n    feedback_payload: {\n      batch_id: source.batch_id || null,\n      platform_video_id: source.platform_video_id || null,\n      stage4_status: source.playbook_status || 'unknown',\n      analysis_status: source.analysis_status || 'unknown',\n      scaffold_mode: 'deferred_until_first_party_metrics',\n      eligible_for_blend: Boolean(eligible),\n      next_action: 'ingest_first_party_posts'\n    }\n  }\n}];"
      },
      "id": "stage-5-feedback-scaffold",
      "name": "Stage 5 Feedback Scaffold",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7780,
        480
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "content_intelligence_videos",
        "dataMode": "defineBelow",
        "columnToMatchOn": "platform_video_id",
        "valueToMatchOn": "={{$json.platform_video_id}}",
        "valuesToSend": {
          "values": [
            {
              "column": "feedback_status",
              "value": "={{$json.feedback_status}}"
            },
            {
              "column": "feedback_score",
              "value": "={{$json.feedback_score}}"
            },
            {
              "column": "feedback_payload",
              "value": "={{JSON.stringify($json.feedback_payload || {})}}"
            }
          ]
        }
      },
      "id": "stage-5-persist-feedback-status",
      "name": "Stage 5 Persist Feedback Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        8080,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "ubXgrL18K5l7DRHz",
          "name": "Supabase Content Intelligence"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-upserts",
      "name": "Merge Upserts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        5980,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst first = items[0]?.json || {};\nreturn [{\n  json: {\n    batch_id: first.batch_id || null,\n    status: 'ingested',\n    provider: 'claude',\n    run_finished_at: new Date().toISOString(),\n    video_count: items.length\n  }\n}];"
      },
      "id": "mark-batch",
      "name": "Mark Batch Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6280,
        120
      ]
    },
    {
      "parameters": {
        "content": "## Content Intelligence Pipeline v1\nWeekly run: discover winning AI/automation creators, pull their video metadata, analyze format patterns with an LLM, and publish a Content Playbook.\n\n**Flow reads left \u2192 right.** Each colored band is one stage.",
        "height": 240,
        "width": 1120,
        "color": 5
      },
      "id": "zone-title",
      "name": "zone-title",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        20
      ]
    },
    {
      "parameters": {
        "content": "## 1 \u00b7 Discover & Fetch\nCron kicks off weekly \u2192 build search queries \u2192 Tavily finds candidate creators \u2192 filter to the reference set.",
        "height": 420,
        "width": 1180,
        "color": 4
      },
      "id": "zone-stage1",
      "name": "zone-stage1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "content": "## 1b \u00b7 Resolve YouTube channel \u2192 recent videos\nParse channel ID / @handle from the profile URL (no API cost), then channels \u2192 playlistItems \u2192 videos to pull metadata for recent uploads. Filters drop anything that can't be resolved.",
        "height": 420,
        "width": 3000,
        "color": 6
      },
      "id": "zone-stage1b",
      "name": "zone-stage1b",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "content": "## 2 \u00b7 Normalize & Store   \u00b7   3 \u00b7 Analyze\nNormalize each video to one canonical row, build the Stage 3 contract, then route to a model provider. Result is parsed and upserted to Supabase.",
        "height": 540,
        "width": 1800,
        "color": 3
      },
      "id": "zone-stage23",
      "name": "zone-stage23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4420,
        300
      ]
    },
    {
      "parameters": {
        "content": "## 4 \u00b7 Notion Content Playbook\nMap analyzed videos to a Notion page payload. Analyzed rows are written to Notion; non-analyzed rows are skipped. Sync status is persisted back to Supabase.",
        "height": 440,
        "width": 1500,
        "color": 7
      },
      "id": "zone-stage4",
      "name": "zone-stage4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6220,
        300
      ]
    },
    {
      "parameters": {
        "content": "## 5 \u00b7 Feedback loop\nWrite a deterministic feedback status for every record. Stays `pending_first_party_data` until Sean's own post metrics exist.",
        "height": 420,
        "width": 640,
        "color": 4
      },
      "id": "zone-stage5",
      "name": "zone-stage5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7720,
        300
      ]
    },
    {
      "parameters": {
        "content": "### Parallel path \u2191\nCreator rows are upserted here and rejoin the batch at **Merge Upserts**.",
        "height": 84,
        "width": 420,
        "color": 6
      },
      "id": "note-creators",
      "name": "note-creators",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        30
      ]
    },
    {
      "parameters": {
        "content": "### Batch bookkeeping \u2191\nCreator + video upserts merge, then **Mark Batch Complete** flags the batch as ingested so it isn't reprocessed.",
        "height": 84,
        "width": 620,
        "color": 3
      },
      "id": "note-merge",
      "name": "note-merge",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5940,
        30
      ]
    },
    {
      "parameters": {
        "content": "### Provider Switch\n`STAGE3_MODEL_PROVIDER` picks the branch:\n**claude** (default) \u00b7 **openai** (fallback) \u00b7 **deferred** (skip model, persist status).",
        "height": 120,
        "width": 560,
        "color": 5
      },
      "id": "note-provider",
      "name": "note-provider",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5060,
        800
      ]
    },
    {
      "parameters": {
        "content": "### Eligibility Switch\n`analysis_status = analyzed` \u2192 write to Notion.\nAnything else \u2192 Skip Notion.",
        "height": 96,
        "width": 300,
        "color": 5
      },
      "id": "note-eligibility",
      "name": "note-eligibility",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6560,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const json = item.json;\n  const ytChannelQuery = json.channelId\n    ? { part: 'contentDetails,snippet', id: json.channelId }\n    : { part: 'contentDetails,snippet', forHandle: json.handle };\n  return { json: { ...json, ytChannelQuery } };\n});"
      },
      "id": "yt-build-channel-query",
      "name": "YT Build Channel Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1912,
        480
      ]
    }
  ],
  "connections": {
    "Build Search Queries": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Filter Creators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Creators": {
      "main": [
        [
          {
            "node": "Supabase Upsert Creators",
            "type": "main",
            "index": 0
          },
          {
            "node": "YT Parse Creator URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Records": {
      "main": [
        [
          {
            "node": "Stage 3 Contract Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Contract Builder": {
      "main": [
        [
          {
            "node": "Stage 3 Provider Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Provider Switch": {
      "main": [
        [
          {
            "node": "Claude Stage 3 Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Stage 3 Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stage 3 Deferred (No Model Access)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Stage 3 Analysis": {
      "main": [
        [
          {
            "node": "Stage 3 Result Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Stage 3 Analysis": {
      "main": [
        [
          {
            "node": "Stage 3 Result Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Deferred (No Model Access)": {
      "main": [
        [
          {
            "node": "Supabase Upsert Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 Result Parser": {
      "main": [
        [
          {
            "node": "Supabase Upsert Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert Creators": {
      "main": [
        [
          {
            "node": "Merge Upserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert Videos": {
      "main": [
        [
          {
            "node": "Merge Upserts",
            "type": "main",
            "index": 1
          },
          {
            "node": "Stage 4 Playbook Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 4 Playbook Mapper": {
      "main": [
        [
          {
            "node": "Stage 4 Eligibility Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 4 Eligibility Switch": {
      "main": [
        [
          {
            "node": "Stage 4 Notion Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stage 4 Skip Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 4 Notion Upsert": {
      "main": [
        [
          {
            "node": "Stage 4 Parse Notion Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 4 Parse Notion Result": {
      "main": [
        [
          {
            "node": "Stage 4 Persist Playbook Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 4 Skip Notion": {
      "main": [
        [
          {
            "node": "Stage 4 Persist Playbook Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 4 Persist Playbook Status": {
      "main": [
        [
          {
            "node": "Stage 5 Feedback Scaffold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 5 Feedback Scaffold": {
      "main": [
        [
          {
            "node": "Stage 5 Persist Feedback Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Upserts": {
      "main": [
        [
          {
            "node": "Mark Batch Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Metadata Fetch": {
      "main": [
        [
          {
            "node": "Normalize Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Parse Creator URL": {
      "main": [
        [
          {
            "node": "YT Resolvable Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Resolvable Filter": {
      "main": [
        [
          {
            "node": "YT Build Channel Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Get Channel": {
      "main": [
        [
          {
            "node": "YT Extract Playlist Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Extract Playlist Id": {
      "main": [
        [
          {
            "node": "YT Has Playlist Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Has Playlist Filter": {
      "main": [
        [
          {
            "node": "YT Get Playlist Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Get Playlist Items": {
      "main": [
        [
          {
            "node": "YT Extract Video Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Extract Video Ids": {
      "main": [
        [
          {
            "node": "YT Has VideoIds Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Has VideoIds Filter": {
      "main": [
        [
          {
            "node": "YT Get Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Get Videos": {
      "main": [
        [
          {
            "node": "YouTube Metadata Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Build Channel Query": {
      "main": [
        [
          {
            "node": "YT Get Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}